#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

1.python

2.R

3.SQL

4.Java

Some of the commonly used libraries used by Data Scientists include:

1)NumPy

2)Pandas

3)Matplotlib

4)Scikit-learn

|Data Science Tools|
|---|
|SAS|
|Apache hadoop|
|TenserFlow|

Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
2+3

5

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
 #This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objective**

-  List Popular Languages For Data Science
-  List Popular Libraries For Data Science
-  List Of Well Known Data Science Tools
-  How to provide comments in the cell

**Author**


Nagur Vali